@charset "utf-8";
/* CSS Document */

body {
	background-color: #464545;
	top: 0;
	left: 0;
	/* Preserve aspet ratio */
	
	
	padding: 0px;
	margin: 0px;
}

.frame {
	width:500px;
	min-height:530px;
	margin: auto;
	margin-top:100px;
	padding:20px;
	margin-bottom:100px;
}

.logo {
	height:80px;
	width:268px;
	background-image:url(../Images/Website/User%20accounts/logo.png);
	margin:0 auto;
	margin-bottom:12px;
	margin-top:12px;
}

.content {
	width:445px;
	min-height:340px;
	padding:25px;
	float:left;
	background-color:#dedede;
	-webkit-box-shadow: 0px 11px 42px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 11px 42px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 11px 42px -15px rgba(0,0,0,0.75);
}

#error {
	width:445px;
	height:200px;
	float:left;
}

.message {
	width:425px;
	min-height:30px;
	float:left;
	background-color:#27b8d1;
	padding:10px;
	color:#dedede;
	font-size:24px;
	text-align:center;
}

.message2 {
	width:425px;
	min-height:50px;
	float:left;
	padding:10px;
	color:#27b8d1;
	font-size:16px;
	text-align:center;
}

.hover {
	color:#464545;
}

p.small {
    line-height: 70%;
}
