@charset "utf-8";
/* CSS Document */
body {
	background-color:#464545;

    -moz-background-image: linear-gradient(60deg, #464545 50%, url(../Images/Website/Index/scroll.jpg) 50%);
    -webkit-background-image: linear-gradient(60deg, #464545 50%, #333 50%);
    -o-background-image: linear-gradient(60deg, #464545 50%, #333 50%);
    -ms-background-image: linear-gradient(60deg, #464545 50%, #333 50%);
    background-image: linear-gradient(60deg, #464545 50%, #333 50%);
	
	top: 0;
	left: 0;
	/* Preserve aspet ratio */
	
	
	padding:0px;
	margin:0px;
	
}

.details {
		padding:5%;
		margin:5%;
	color:#FFF;
	min-height:40px;

	letter-spacing:1px;
	text-align:center;
	background-image:url(../Images/Website/Register_process/bg.png);
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

margin-bottom:30px;

}

.image_box {
	float:left;
	height:50px;
	width:50px;
	margin-right:10px;
	background-color:#27b8d1;
}

.details_text {
	width:100%;
	min-height:20px;
	font-size:12px;
}

.content{
	width:100%;
	min-height:300px;
	float:left;
	margin-top:100px;

	border-bottom: 100px solid #333;
    padding-bottom: 100px;
}

.content_inner {
	width:33.3%;
	min-height:220px;
	float:left;
	padding-top:30px;
	transition: background-color 0.2s ease;
	padding-bottom:30px;
}

.content_text {
	width:80%;
	min-height:65px;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	padding:5%;
	color:#FFF;
	font-size:24px;
	font-family:'myFirstFont', Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	background-color:#27b8d1;
	transition: background-color 0.5s ease;
	text-align:center;
		-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}

.wrap {

	width:90%;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin: 0 auto;
min-height:200px;
}

.wrap_inner {
	
}

.search {
	width:100%;
	min-height:150px;
	background-color:#dedede;
	margin-bottom:100px;
}

.box {
	min-height:30px;
	width:100%;
	float:left;

	padding-left:5px;
	text-align:left;
	font-size:24px;
	font-weight:bold;
	color:#FFF;
	letter-spacing:1px;
}

.box2 {
	min-height:10px;
	width:420px;
	padding:15px;
	padding-left:5px;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	color:#27b8d1;
	margin: 0 auto;
	padding-top:50px;
}

.search_inner {
	min-height:100px;
	width:100%;
}

.search_outer {
	background-color:#27b8d1;
	width:95%;
	padding:2.5%;
	float:left;
	-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
margin-bottom:100px;
}
#btn {
	border: solid 1.5px #FFF;
  
    color: #FFF;
    display: block;
    font-size: 13px;
    letter-spacing: .03em;
    line-height: 1.25em;
	margin-top:30px;
    height: 50px;
    overflow: hidden;
    padding: 2px 15px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	background-color:transparent;
	transition: background-color 0.2s ease;
}

#btn:hover {
  color:#27b8d1;
  background-color:#FFF;

}

#btn2 {
	border: solid 1.5px #FFF;
  
    color: #FFF;
    display: block;
    font-size: 13px;
    letter-spacing: .03em;
    line-height: 1.25em;
	margin-top:0px;
    height: 50px;
    overflow: hidden;
    padding: 2px 15px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	background-color:transparent;
	transition: background-color 0.2s ease;
}

#btn2:hover {
  color:#27b8d1;
  background-color:#FFF;

}

/* insert comment */
.box_comment {
	width:80%;
	min-height:350px;
	transition: background-color 0.5s ease;
	padding:2.5%;
	margin-left:7.5%;
	margin-right:7.5%;
	border-bottom: solid 1.5px #FFF;
}

.text_comment {
	width:95%;
	transition: background-color 0.5s ease;
	padding-left:2.5%;
	padding-right:2.5%;
	float:left;
	overflow:auto;
}

input[type="text"] {
	line-height:30px;
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height:auto;
	line-height: 30px;
	outline: medium none;
	padding-top:10px;
	padding-bottom:10px;
}

.comment_button {
	width:20%;
	float:left;
	min-height:100px;
	background-color:#27b8d1;
			-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
margin-bottom:100px;
}

/* display messages */
.message_outer {
	width:80%;
	min-height:100px;
	margin:10%;
	margin-top:0px;
	margin-bottom:0px;
}

.message_wrap {
	margin-top:100px;
	margin:0 auto;

	width:80%;

}

.message_details {
	width:95%;
	min-height:20px;
	background-color:#27b8d1;
	float:left;
	padding:2.5%;
	padding-top:10px;
	padding-bottom:10px;
	color:#FFF;
}

.message {
	width:95%;
	min-height:100px;
	background-color:#FFF;
	float:left;
	padding:2.5%;
	border-bottom: groove 1.5px #FFF;
	color:#000;
	font-size:16px;
}

.spaced {
	margin-right:30px;
	float:left;
	margin:10px;
}

.spaced_right{
	margin-left:30px;
	float:right;
	margin:10px;
}

.close_span {
	
	width:30px;
	height:100%;
	background-color:#30F;
	padding:2px;
	position:inherit;
	float:right;
}

.item2 {
	color:#FFF;
}



#comment {
	border: solid 1.5px #FFF;
    color: #FFF;
    display: block;
    font-size: 13px;
    letter-spacing: .03em;
    line-height: 1.25em;
    height: 50px;
    overflow: hidden;
    padding: 2px 15px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	background-color:#27b8d1;
	margin:0 px;
	margin-top:20px;
}

#comment:hover {
	text-decoration:underline;
}