@charset "utf-8";
/* CSS Document */
body {
	background-color:#464545;
	
	top: 0;
	left: 0;
	/* Preserve aspet ratio */
	
	
	padding:0px;
	margin:0px;
}

.title2 {
	height:60px;
	min-width:100px;
	margin:0 auto;
	padding-left:50px;
	padding-right:50px;
	font-size:25px;
	font-weight:bolder;
	color:#27b8d1;
	text-align:center;
}

.label_box {
	width:990px;
	height:60px;
	margin: 0 auto;
	background-color:#27b8d1;
}

.label_text {
	min-height:30px;
	width:100px;
	margin:0 auto;
	margin-top:20px;
	padding:5px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	font-weight: bold;
	color:#000;
}
.label_text_email {
	min-height:30px;
	width:250px;
	margin:0 auto;
	margin-top:20px;
	padding:5px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	font-weight: bold;
	color:#000;
}

.registrant_outer {
	min-height:500px;
	margin:0 auto;
	background-color:#dedede;
	padding:50px;
}

.registrant_details {
	min-height:30px;
	width:990px;
	margin:0 auto;
	margin-top:20px;
	padding:5px;
	border-bottom:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#27b8d1;

}

.registrant_column {
	min-height:10px;
	min-width:100px;
	float:left;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-align:left;
	font-style:oblique;
	color:#000;
}

.registrant_column_email {
	min-height:10px;
	min-width:250px;
	float:left;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-align:left;
	font-style:oblique;
	color:#000;
}

.registrant_text {
	min-width:200px;
	min-height:50px;
	float:left;
}